@-webkit-keyframes colors {
    0%  {background-color: #000000; }   /* black 0 */
    10%  {background-color: #964B00; }  /* brown 1 */
    20%  {background-color: #FF0000; }  /* red 2 */
    30%  {background-color: #FFA500; }  /* orange 3 */
    40%  {background-color: #FFFF00; }  /* yellow 4 */
    50%  {background-color: #9ACD32; }  /* green 5 */
    60%  {background-color: #6495ED; }  /* blue 6 */
    70%  {background-color: #EE82EE; }  /* violet 7 */
    80%  {background-color: #A0A0A0; }  /* gray 8 */
    90%  {background-color: #FFFFFF; }  /* white 9 */
    100%  {background-color: #CFB53B; } /* gold 5% tolerance */
}

.resistor {
    position: relative;
    width:186px;
}
.resistor .center, .centerFront, .tip, .bandMask, .firstBand, .secondBand, .thirdBand, .fourthBand {
    position: relative;
    z-index: 1;
}
.resistor .back, .wire {
    position: relative;
    z-index: -1;
}
.resistor .back:before {
    position:absolute;
    content: "";
    left:0px;
    top:-4px;
    width:186px;
    height:48px;
    background: #aaaaaa;
}
.resistor .wire:before {
    position:absolute;
    content: "";
    background: #666666;
    border-left: hidden;
    border-right: hidden;
    top: 18px;
    left: 0px;
    width:186px;
    height:6px;
    background: -webkit-gradient(linear, 0% 20%, 0% 80%,  from(#dddddd), to(#666666));
}

.resistor .center:before {
    position:absolute;
    content: "";
    background: #666600;
    border-left: hidden;
    border-right: hidden;
    top: 4px;
    left: 66px;
    width:54px;
    height:32px;
    background: -webkit-gradient(linear, 0% 10%, 0% 60%,  from(#f5f5dc), to(#666600));
}

.resistor .tip:before, .tip:after {
    position:absolute;
    content: "";
    background: #666600;
    border-left: hidden;
    border-right: hidden;
    top: 18px;
    left: 38px;
    width:3px;
    height:6px;
}

.resistor .tip:after {
    left: 145px;
}

.resistor .bandMask:before, .bandMask:after {
    position:absolute;
    content: "";
    left: 38px;
    top: -2px;
    width:40px;
    height:40px;
    border: 2px solid #aaaaaa;
    border-radius: 60px;
}

.resistor .bandMask:after {
    left: 104px;
}

.resistor .centerFront:before {
    position:absolute;
    content: "";
    background: #666600;
    border-left: hidden;
    border-right: hidden;
    top: 4px;
    left: 70px;
    width:46px;
    height:32px;
    background: -webkit-gradient(linear, 0% 10%, 0% 60%,  from(#f5f5dc), to(#666600));
}

.resistor .firstBand {
    position:absolute;
    content: "";
    background-color: #000000;
    top: 0px;
    left: 58px;
    width:10px;
    height:40px;
}

.resistor .fourthBand {
    position:absolute;
    content: "";
    background-color: #CFB53B;
    top: 0px;
    left: 118px;
    width:10px;
    height:40px;
}

.resistor .secondBand, .thirdBand {
    position:absolute;
    content: "";
    background-color: #000000;
    top: 4px;
    left: 76px;
    width:10px;
    height:32px;
}

.resistor .thirdBand {
    left: 94px;
}

.resistor:before, .resistor:after {
    position:absolute;
    content: "";
    left: 40px;
    width: 40px;
    height:40px;
    border-bottom: hidden;
    background: #666600;
    background: -webkit-gradient(radial, 70% 0%, 10, 70% 0%,30, from(#f5f5dc), to(#666600));
    border-radius: 60px;
}

.resistor:after {
    background: -webkit-gradient(radial, 30% 0%, 10, 30% 0%, 30, from(#f5f5dc), to(#666600));
    left: 106px;
}


.resistor h2 {
    position: absolute;
    height: 20px;
    font-family: Delicious-Heavy;
    color: #999999;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-size: 1em;
    letter-spacing: .1em;
    text-shadow: #dddddd 1px 1px, #666666 -1px -1px;
}

.resistor .ohm100 {
    top:50px;
}
.ohm100:hover ~ .firstBand {
    background-color: #964B00;
}
.ohm100:hover ~ .thirdBand {
    background-color: #964B00;
}

.resistor .ohm240 {
    top:70px;
}
.ohm240:hover ~ .firstBand {
    background-color: #ff0000;
}
.ohm240:hover ~ .secondBand {
    background-color: #ffff00;
}
.ohm240:hover ~ .thirdBand {
    background-color: #964B00;
}

.resistor .ohm470 {
    top:90px;
}
.ohm470:hover ~ .firstBand {
    background-color: #ffff00;
}
.ohm470:hover ~ .secondBand {
    background-color: #EE82EE;
}
.ohm470:hover ~ .thirdBand {
    background-color: #964B00;
}

.resistor .kOhm100 {
    top:110px;
}
.kOhm100:hover ~ .firstBand {
    background-color: #964B00;
}
.kOhm100:hover ~ .thirdBand {
    background-color: #FFFF00;
}
